body {
	background-image: url("image/sfondo.png");
	background-repeat: no-repeat;
	background-size: cover;
}
#titlep {
	color: white;
	font-family: sans-serif;
	font-size: 90px;
	background-image: url("image/Senzatitolo-3.png");
}
#title {
	position: relative;
	text-align: center;
}
#dex {
	color: wheat;
	position: relative;
	text-align: center;
}
#button1 {
	position: relative;
	left: 500px;
}
#button2 {
	position: relative;
	left: 1000px;
}
